language: csharp
script:
- ls -lR
deploy:
  skip_cleanup: true
  provider: releases
  file_glob: true
  file: output/*.nupkg
  on:
    tags: false
    all_branches: true
  api_key:
    secure: 3O3/aHEdN52vCrvn/soYbw/eDnbhPUYk1Qsi5wf+hK/MoXgPHKBJmSOYYx3FsX1WWkwL+x4IHiZgYVv3UuavLgnY83K2iXQIYenFTl7B0QtpZ4HWgBpR/CpGVteVH9jAph/2DeD6LLjwxSR8PosKozXcqWQLcpiNsXj1csL2dLQRThCHQx2CJnKdSJzE6l4rXx6kpeiqtOCTSnsIlv0pzuseZ5gkOtGqbTfI1bTRIp9bvDMX3IvidwlG++tKB+PEEk+Q9ebmA1411FHbzt7INMxAfUifl66ZTKwLmsovsm64SAVgRN2TALlHqeXPgdfObwUt38fBq9l+vdLFVnxkauKQqpbkoef9ulQSonvwJSKo7Iq/5+zr6xhp3MY8rJFCd5VU3vN/L/CVxxY2guzjZk3+8uXiNOHHecDmNfU+blZ7y0pKHB6Nr8TE9eoWODCaa6W/L3lmmoRZPBqRF1EMsC2CX8tbRxP9opiGenvMhzb4Zq98K8JmdWuvyf6wunAJt9fkv6BiKZQyfHtEm+z9Qyw+5C/ncT8HskTV7HxuYiWezKqzlOZ2HhQoRJQTC3SaObHDC5yiHfBlaG2m2DovvAaX4xEIBSEIOht/nkTHrkn9FSAHibgxGmFSoDGSvFSb59fCYXdChWIOisQeRf32oVps3dUv5Vju11Zd8xnrxng=
branches:
  only:
  - master
  - /^release.*/
env:
  global:
  #ETRADE_CONSUMER_SECRET
  - secure: kBhIYfbMnoKWiKg6YGFypkZ7IdNMGysiifCIpznMUOSbdDqhoK2448twwLHxIjsOlv98tzfg9OoyKMWInPZn5QDrcrIa1QoJBJbiZJo/919/Ef+nuqrFTvF+8a1YDkTyjD1UTnGK1qgf7kKjdk+ilR31otRNxHQ4RAWAMsxEeYiKN8rTjRy0F206abnDIBTyRkNR/kSOl61FHUHeprxTOzRRGqa6wbpay3nHAAxc5ioLVRa+mQx/Spn3X1gZBOkj4jxRIU7XOc8JcLPGVVUdOGyEX/GFS2NU4wpLadAfq2AEJoQ21Spiap11qvqamuhFXtjwnNKW5tFrckVK6o6ZCNt5LcelcQjJ/SrTpPBeq4jp33i01+r1wQ1n8akpJu6d92Lc/kEHm3CuocHwA9W8Xp1SSr6OiNxb0Y8ml5cH0qG7RHcjjNDJbXiYhV9vrRZsqMMsbRbCr9fU1wqQP/xRPSPvSLy4rWkiAGZ11EIPoBOc6nPps4T+lMliX2ffMn1cxbSYckt+zf+QDCrF/5LV5r/XhvgTUSUYa/rA/jufma33VuwQaGBso2LU195qxtYJ6DCA2tslvcWRih/g7K3meh8qulp894U0Jj7+N6CP58EigbRVAs7osI6gKMJ18gxjPC79uGpIp9PB1alKwLYXiHMehbV9AGOWaGZSBPV2+yU=
  #ETRADE_OAUTH_CONSUMER_KEY
  - secure: BycUNYglVsDG1QWpcJM/A3ua4RZ7G3yZJoQMOy8Q+j8uuupITehiotKyUquPID43v3mMeoEC6mqa9Oe6EYdDVG1yYnQ9jtfpeMTJPE7j3udw2hTDpDqFkYGqNV69EfRm/LcIvyHJeS437nmO9NUExUdFiY6iw4WsvqaQVZLHcnTKvIvrUUBp8lQl/kN2clArQKASQMnr4B2Otf0ogGmIsEwUVzb+AJShzk6cabiKI0NnfHcYzYMiMdUE5WVei2GBb0TOGPIQWVLz3U+hyQYzZB/Num/CHUrFCS3nZbsOlLR541ZRStFVq3z4ueIAiBhnkZWr60f1EBVbTuiHUjdeS25JlEM8waZwqDH7FzqNuoV1HGd7VkagecrWYV9dxoLEjsbTx3I+l7sERJC0vFnZ8bvSiwrx+mPGRWIyYXYLCXpoe2015gW/rG/QE2en0GEjQNZteinEuPulcT2XweOFGaVgD0q2JlA50XQY03tRTQVQMXMz16uiQct6bJLL6JrwA2zheMHXrlM7dKCXX0dNED0wCswvcgjbEJqQheXNPrit+018ty+zjHe6tdI7tcgxlK7lKaNZET6OBn5UG4kbf1PnPDjG7o5eZ81/s2BgNYy515M4t0+6J8XE7JNElCyoAodqQyf5+MguUg9Tb3iRDYO0tufrZYwtglTNXuNiOk8=
  #GIT_TAG_PUSHER
  - secure: ageHaC8nLLmL8llngdyWYuSdZK6/b+TN6L2bRYBf45y7PeOwHexwTgjbCqZp1t08WxwbtYUqQbkfNY/tDaiBSeP4yoMIGVnyGgGAaWvDVX645549G2AUZNp9KH5oX49IqNBS1d3wWXV02EvDoNCkPdyWOhA66cuW13AYez4QxP4jBderuTG8bXB7/vsSQ37+n+UEvQ0jLkjQda/qGLxvpAOpT89Sfo/LrxI+ltQt+TMF20FFbA+I877OJKClintek3DAnk2fJcFY6YHqkfHqAeCJMljAYQHnLqNv5fFkAH7I19J3sRz9Iu6QcnxpG8+OX2wuHWv1YGhvG3tm2hW0XcV5FqlKXk6uQl5vBc6uID+QzSgtluuo9Swq0EQ3VmpHPzYbLjjFO3NZZ0QZ4tpzO1LiZqrs6RvnXR3EUcjxPKblPGhyL4fALAUjZz78n9p3IJMeOJyNpmEliZ7NuJQd0oYZ2mj9/mAOENJ87WIt9GAzKvyKuE/UCEpOjfEA7G9r0/TedJKRHY5DSQjs3BvwraSVVfGXKD41cRNABtoMWhVZJSHHm0FIT22OasSIjoJBQ8KOCYqPDawRfhahJezS5ZswX4Az+I0DuFadjNLOKGZ+EqHdVFvvJ6CmHRHw0XWT2yppHot+9DohkIW8H4DKudGC36Hvu31DyF8qsIIdEdM=
